<button (click)="showFunction()">{{value}}</button>

<ng-container *ngIf="showYellow">
        <div appFontcolorYellow> hai
            </div>
</ng-container>  
<ng-container *ngIf="showRed">
        <div appFontcolorRed> hai
            </div>
</ng-container>       




<div *ngIf="showYellow9"> 
    <div appFontcolorYellow> 
            Angular (application platform)
            From Wikipedia, the free encyclopedia
            
            
            Jump to navigation
            Jump to search
            This article is about Angular. For AngularJS 1.x, see AngularJS.
            Angular
            
            Developer(s)
            Google
            Initial release
            2.0 / 14 September 2016; 21 months ago[1]
            Stable release
            6.0.5 / 14 June 2018; 35 days ago[2]
            Preview release
            6.0.0-rc.6 / 27 April 2018; 2 months ago[3]
            Repository
            https://github.com/angular/angular
            
            Written in
            TypeScript
            Platform
            Cross-platform, modern browsers only
            Type
            JavaScript, Single-page application Framework
            License
            MIT License
            Website
            angular.io
            Angular (commonly referred to as "Angular 2+" or "Angular v2 and above")[4][5] is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS. 
            Contents [hide] 
            1
            Differences between Angular and AngularJS
            2
            History
            2.1
            Naming
            2.2
            Version 2.0.0
            2.3
            Version 4.0.0
            2.4
            Version 5.0.0
            2.5
            Version 6.0.0
            2.6
            Future releases
            3
            References
            4
            External links
            Differences between Angular and AngularJS[edit]
             
            
            Architecture of an Angular application. The main building blocks are modules, components, templates, metadata, data binding, directives, services and dependency injection.
            Angular was a ground-up rewrite of AngularJS. 
            Angular does not have a concept of "scope" or controllers, instead it uses a hierarchy of components as its primary architectural characteristic.[6]
            Angular has a different expression syntax, focusing on "[ ]" for property binding, and "( )" for event binding[7]
            Modularity – much core functionality has moved to modules
            Angular recommends the use of Microsoft's TypeScript language, which introduces the following features: 
            Class-based Object Oriented Programming
            Static Typing
            Generics
            TypeScript is a superset of ECMAScript 6 (ES6), and is backwards compatible with ECMAScript 5 (i.e.: JavaScript). Angular also includes ES6: 
            Lambdas
            Iterators
            For/Of loops
            Python-style generators
            Reflection
            Dynamic loading
            Asynchronous template compilation
            Iterative callbacks provided by RxJS. RxJS limits state visibility and debugging, but these can be solved with reactive add-ons like ngReact or ngrx.
            History[edit]
            Naming[edit]
            Originally, the rewrite of AngularJS was called "Angular 2" by the team, but this led to confusion among developers. To clarify, the team announced that separate terms should be used for each framework with "AngularJS" referring to the 1.X versions and "Angular" without the "JS" referring to versions 2 and up.[8] 
            Version 2.0.0[edit]
            Angular 2.0 was announced at the ng-Europe conference 22-23. October 2014.[9][10] The drastic changes in the 2.0 version created considerable controversy among developers.[11] On April 30, 2015, the Angular developers announced that Angular 2 moved from Alpha to Developer Preview.[12] Angular 2 moved to Beta in December 2015,[13] and the first release candidate was published in May 2016.[14] The final version was released on September 14, 2016. 
            Version 4.0.0[edit]
            On 13 December 2016 Angular 4 was announced, skipping 3 to avoid a confusion due to the misalignment of the router package's version which was already distributed as v3.3.0.[15] The final version was released on March 23, 2017.[16] Angular 4 is backward compatible with Angular 2.[17] 
            Angular version 4.3 is a minor release, meaning that it contains no breaking changes and that it is a drop-in replacement for 4.x.x. 
            Features in version 4.3 
            Introducing HttpClient, a smaller, easier to use, and more powerful library for making HTTP Requests.
            New router life cycle events for Guards and Resolvers. Four new events: GuardsCheckStart, GuardsCheckEnd, ResolveStart, ResolveEnd join the existing set of life cycle event such as NavigationStart.
            Conditionally disable animations.
            Version 5.0.0[edit]
            Angular 5 was released on November 1, 2017.[18] Key improvements in Angular 5 include support for progressive web apps, a build optimizer and improvements related to Material Design.[19] 
            Version 6.0.0[edit]
            Angular 6 was released on May 4, 2018.[20]. This is a major release focused less on the underlying framework, and more on the toolchain and on making it easier to move quickly with Angular in the future, like: ng update, ng add, Angular Elements, Angular Material + CDK Components, Angular Material Starter Components, CLI Workspaces, Library Support, Tree Shakable Providers, Animations Performance Improvements, and RxJS v6. 
            Future releases[edit]
            Angular 7 release will be showing up in September or October 2018. Each version is expected to be backward-compatible with the prior release. Google pledged to do twice-a-year upgrades. 


    </div> 
</div>
<div *ngIf="showRed9"> 
    <div appFontcolorRed> 
            Angular (application platform)
            From Wikipedia, the free encyclopedia
            
            
            Jump to navigation
            Jump to search
            This article is about Angular. For AngularJS 1.x, see AngularJS.
            Angular
            
            Developer(s)
            Google
            Initial release
            2.0 / 14 September 2016; 21 months ago[1]
            Stable release
            6.0.5 / 14 June 2018; 35 days ago[2]
            Preview release
            6.0.0-rc.6 / 27 April 2018; 2 months ago[3]
            Repository
            https://github.com/angular/angular
            
            Written in
            TypeScript
            Platform
            Cross-platform, modern browsers only
            Type
            JavaScript, Single-page application Framework
            License
            MIT License
            Website
            angular.io
            Angular (commonly referred to as "Angular 2+" or "Angular v2 and above")[4][5] is a TypeScript-based open-source front-end web application platform led by the Angular Team at Google and by a community of individuals and corporations. Angular is a complete rewrite from the same team that built AngularJS. 
            Contents [hide] 
            1
            Differences between Angular and AngularJS
            2
            History
            2.1
            Naming
            2.2
            Version 2.0.0
            2.3
            Version 4.0.0
            2.4
            Version 5.0.0
            2.5
            Version 6.0.0
            2.6
            Future releases
            3
            References
            4
            External links
            Differences between Angular and AngularJS[edit]
             
            
            Architecture of an Angular application. The main building blocks are modules, components, templates, metadata, data binding, directives, services and dependency injection.
            Angular was a ground-up rewrite of AngularJS. 
            Angular does not have a concept of "scope" or controllers, instead it uses a hierarchy of components as its primary architectural characteristic.[6]
            Angular has a different expression syntax, focusing on "[ ]" for property binding, and "( )" for event binding[7]
            Modularity – much core functionality has moved to modules
            Angular recommends the use of Microsoft's TypeScript language, which introduces the following features: 
            Class-based Object Oriented Programming
            Static Typing
            Generics
            TypeScript is a superset of ECMAScript 6 (ES6), and is backwards compatible with ECMAScript 5 (i.e.: JavaScript). Angular also includes ES6: 
            Lambdas
            Iterators
            For/Of loops
            Python-style generators
            Reflection
            Dynamic loading
            Asynchronous template compilation
            Iterative callbacks provided by RxJS. RxJS limits state visibility and debugging, but these can be solved with reactive add-ons like ngReact or ngrx.
            History[edit]
            Naming[edit]
            Originally, the rewrite of AngularJS was called "Angular 2" by the team, but this led to confusion among developers. To clarify, the team announced that separate terms should be used for each framework with "AngularJS" referring to the 1.X versions and "Angular" without the "JS" referring to versions 2 and up.[8] 
            Version 2.0.0[edit]
            Angular 2.0 was announced at the ng-Europe conference 22-23. October 2014.[9][10] The drastic changes in the 2.0 version created considerable controversy among developers.[11] On April 30, 2015, the Angular developers announced that Angular 2 moved from Alpha to Developer Preview.[12] Angular 2 moved to Beta in December 2015,[13] and the first release candidate was published in May 2016.[14] The final version was released on September 14, 2016. 
            Version 4.0.0[edit]
            On 13 December 2016 Angular 4 was announced, skipping 3 to avoid a confusion due to the misalignment of the router package's version which was already distributed as v3.3.0.[15] The final version was released on March 23, 2017.[16] Angular 4 is backward compatible with Angular 2.[17] 
            Angular version 4.3 is a minor release, meaning that it contains no breaking changes and that it is a drop-in replacement for 4.x.x. 
            Features in version 4.3 
            Introducing HttpClient, a smaller, easier to use, and more powerful library for making HTTP Requests.
            New router life cycle events for Guards and Resolvers. Four new events: GuardsCheckStart, GuardsCheckEnd, ResolveStart, ResolveEnd join the existing set of life cycle event such as NavigationStart.
            Conditionally disable animations.
            Version 5.0.0[edit]
            Angular 5 was released on November 1, 2017.[18] Key improvements in Angular 5 include support for progressive web apps, a build optimizer and improvements related to Material Design.[19] 
            Version 6.0.0[edit]
            Angular 6 was released on May 4, 2018.[20]. This is a major release focused less on the underlying framework, and more on the toolchain and on making it easier to move quickly with Angular in the future, like: ng update, ng add, Angular Elements, Angular Material + CDK Components, Angular Material Starter Components, CLI Workspaces, Library Support, Tree Shakable Providers, Animations Performance Improvements, and RxJS v6. 
            Future releases[edit]
            Angular 7 release will be showing up in September or October 2018. Each version is expected to be backward-compatible with the prior release. Google pledged to do twice-a-year upgrades. 
    </div> 
</div>