
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div id="link">
  <a routerLink="/CustomDirectiveComponent" routerLinkActive="active">Custom Directive Component</a><br>
  <a routerLink="/DataBinding" routerLinkActive="active">Data Binding</a><br>
  <a routerLink="/CustomDataBinding" routerLinkActive="active">Custom Data Binding</a><br>
  <a routerLink="/PipeComponent" routerLinkActive="active">Pipe Component</a><br>
  <a routerLink="/CustomPipe" routerLinkActive="active">Custom Pipe</a><br>
</div>
<div id="content">
  <router-outlet></router-outlet>
</div>




