
<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<div id="link">
  <a routerLink="/CustomDirectiveComponent" routerLinkActive="active">CustomDirectiveComponent</a><br>
  <a routerLink="/DataBinding" routerLinkActive="active">DataBinding</a><br>
  <a routerLink="/CustomDataBinding" routerLinkActive="active">CustomDataBinding</a><br>
  <a routerLink="/PipeComponent" routerLinkActive="active">PipeComponent</a><br>
  <a routerLink="/CustomPipe" routerLinkActive="active">CustomPipe</a>
</div>
<div id="content">
  <router-outlet></router-outlet>
</div>




